.subMenu {
    background-color:#333e4c;
}

:global(.ant-menu.ant-menu-dark .ant-menu-item-selected){
    background-color: #1caf9a;
}

:global(.ant-menu-dark .ant-menu-inline.ant-menu-sub) {
    background-color:#333e4c;
}